*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/output.json
*.apk
*.ap_
*.dex
*.log
*.tmp
*.bak
Thumbs.db
*.keystore
*.class
*.jar
*.war
*.ear

